<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adservices.atmmadat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AtmMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AtmInfoFront"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AtmInfoBack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BalanceCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutAtmMec"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TypeOfCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BasicInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DebitATMCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AtmCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentGetway"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordDefination"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopWithYourCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopOnline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MechineInformtion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MachineControl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity android:name=".Disclaimer"
            android:screenOrientation="portrait"/>
    </application>

</manifest>